Repository YudiYamada/fsc-task-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*.tsx": ["eslint --fix --max-warnings 0", "prettier --write"]
}

feat: ensure task is created on db
  db.json
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure tasks is deleted from database
  db.json
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add backend script for json-server
  package.json
Due: none

feat: add delete loading state to task item
  src/components/Button.tsx
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add loading state to task creation
  src/components/AddTaskDialogue.tsx
  src/components/Button.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure inputs are disabled on loading on AddTaskDialog component
  src/components/AddTaskDialogue.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add react router dom and initial taskdetails page
  package-lock.json
  package.json
  src/components/TaskItem.tsx
  src/main.tsx
  src/pages/task-details.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add initial TaskDetailsPage without logic
  src/components/Button.tsx
  src/pages/task-details.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task can be edited
  src/components/AddTaskDialogue.tsx
  src/pages/task-details.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add forwardRef support to TimeSelect component
  src/components/TimeSelect.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: validate timeRef safely and prevent undefined access
  src/components/AddTaskDialogue.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task can be deleted
  src/App.tsx
  src/main.tsx
  src/pages/task-details.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure empty message is shown onn Tasks Component
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add react hook form to TaskDetails page
  package-lock.json
  package.json
  src/components/Button.tsx
  src/pages/task-details.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add react hook form to AddTaskDialog
  src/components/AddTaskDialogue.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure form is creared when closing AddTaskDialog
  src/components/AddTaskDialogue.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add react-query in the project
  package-lock.json
  package.json
Due: none

feat: add react query to our aplication
  src/components/AddTaskDialogue.tsx
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
  src/main.tsx
  src/pages/TaskDetails.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add hooks to handle task addition, deletion and fetching
  src/components/AddTaskDialogue.tsx
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
  src/hooks/data/use-add-task.ts
  src/hooks/data/use-delete-task.ts
  src/hooks/data/use-get-tasks.ts
Due: eslint, prettier --write, eslint --fix --max-warnings 0

feat: add hook to get and update a task
  src/hooks/data/use-get-task.ts
  src/hooks/data/use-upadate-task.ts
  src/pages/TaskDetails.tsx
Due: eslint, prettier --write, eslint --fix --max-warnings 0

refactor: add axios
  package-lock.json
  package.json
  src/hooks/data/use-add-task.ts
  src/hooks/data/use-delete-task.ts
  src/hooks/data/use-get-task.ts
  src/hooks/data/use-get-tasks.ts
  src/hooks/data/use-upadate-task.ts
Due: eslint, prettier --write

refactor: add axios base instance
  src/hooks/data/use-add-task.ts
  src/hooks/data/use-delete-task.ts
  src/hooks/data/use-get-task.ts
  src/hooks/data/use-get-tasks.ts
  src/hooks/data/use-upadate-task.ts
  src/lib/axios.ts
Due: eslint, prettier --write

feat: add home and tasks page
  src/App.tsx
  src/components/Sidebar.tsx
  src/components/SidebarButton.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure SideBarButton changes according to active route
  src/components/Sidebar.tsx
  src/components/SidebarButton.tsx
  src/pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add task query keys variable
  src/hooks/data/use-add-task.ts
  src/hooks/data/use-delete-task.ts
  src/hooks/data/use-get-task.ts
  src/hooks/data/use-get-tasks.ts
  src/hooks/data/use-upadate-task.ts
  src/keys/queries.ts
  src/main.tsx
Due: eslint, prettier --write, eslint --fix --max-warnings 0

refactor: add mutation keys variables
  src/hooks/data/use-add-task.ts
  src/hooks/data/use-delete-task.ts
  src/hooks/data/use-upadate-task.ts
  src/keys/mutations.ts
Due: eslint, prettier --write

feat: add dashboardcard
  src/components/DashboardCard.tsx
  src/components/Header.tsx
  src/pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task status is updated from api
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
  src/hooks/data/use-upadate-task.ts
Due: eslint, prettier --write, eslint --fix --max-warnings 0

feat: add dashboard cards in home page
  src/components/DashboardCards.tsx
  src/pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: update favicon
  index.html
  public/favicon.svg
  public/vite.svg
Due: none

feat: add api env variables
  .env.development
  .env.production
  src/lib/axios.ts
Due: eslint, prettier --write

chore: add vercel config file
  vercel.json
Due: none

feat: add README.md
  README.md
Due: none
