Repository YudiYamada/fsc-task-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*.tsx": ["eslint --fix --max-warnings 0", "prettier --write"]
}

chore: add git commit message linter
  .husky/commit-msg
  package-lock.json
  package.json
Due: none

chore: add tailwind setup
  package-lock.json
  package.json
  src/App.tsx
  src/index.css
  vite.config.ts
Due: eslint, prettier --write, eslint --fix --max-warnings 0

chore: add Poppins fonts
  index.html
  package-lock.json
  package.json
  src/index.css
Due: none

chore: add tailwind prettier plugin
  .prettierrc
  package-lock.json
  package.json
  src/App.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add Sidebar and SidebarButton component
  src/App.tsx
  src/components/Sidebar.tsx
  src/components/SidebarButton.tsx
  src/index.css
Due: prettier --write, eslint --fix --max-warnings 0

fix: sidebarbuttonprops, add variant selected and unselected
  src/components/SidebarButton.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add svg icons to Sidebar component
  package-lock.json
  package.json
  src/assets/icons/home.svg
  src/assets/icons/tasks.svg
  src/components/Sidebar.tsx
  src/components/SidebarButton.tsx
  src/custom.d.ts
  vite.config.ts
Due: eslint, prettier --write, eslint --fix --max-warnings 0

feat: add initial task and button component
  src/App.tsx
  src/assets/icons/add.svg
  src/assets/icons/trash-2.svg
  src/components/Button.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add separator between tasks
  src/assets/icons/add.svg
  src/assets/icons/arrow-left.svg
  src/assets/icons/check.svg
  src/assets/icons/chevron-right.svg
  src/assets/icons/cloud-sun.svg
  src/assets/icons/details.svg
  src/assets/icons/glass-water.svg
  src/assets/icons/index.js
  src/assets/icons/loader.svg
  src/assets/icons/moon.svg
  src/assets/icons/sun.svg
  src/assets/icons/tasks-2.svg
  src/assets/icons/trash-2.svg
  src/assets/icons/trash.svg
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: add TasksSeparator component
  src/components/Tasks.tsx
  src/components/TasksSeparator.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure tasks are listed on Tasks component
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
  src/constants/tasks.ts
Due: eslint, prettier --write, eslint --fix --max-warnings 0

feat: ensure TaskItem changes depending on task status
  src/assets/icons/check.svg
  src/components/TaskItem.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task status can be changed
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: updating spacing between sidebar and tasks
  src/App.tsx
  src/components/Sidebar.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task can be deleted
  src/components/Button.tsx
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure toast is shown after task update
  package-lock.json
  package.json
  src/App.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: export icons from single file
  src/assets/icons/index.js
  src/assets/icons/index.ts
  src/components/Sidebar.tsx
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
Due: eslint, prettier --write, eslint --fix --max-warnings 0

style: add sort import plugin
  eslint.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/Sidebar.tsx
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
  src/main.tsx
  vite.config.ts
Due: eslint, prettier --write, eslint --fix --max-warnings 0

feat: add task dialog inicitial
  src/components/AddTaskDialogue.tsx
  src/components/Button.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add size and secondary variant to button
  src/components/Button.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add input component
  src/components/Input.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure AddTaskDialog can be closed
  src/components/AddTaskDialogue.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: correcting the typo
  src/components/TaskItem.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add transition to AddTaskDialog
  package-lock.json
  package.json
  src/components/AddTaskDialogue.css
  src/components/AddTaskDialogue.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: resolve bug with CSSTransition
  package-lock.json
  package.json
Due: none

feat: add InputLabel component
  src/components/AddTaskDialogue.tsx
  src/components/Input.tsx
  src/components/InputLabel.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure task can be added
  package-lock.json
  package.json
  src/components/AddTaskDialogue.tsx
  src/components/Tasks.tsx
  src/components/TimeSelect.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure imput are clen when closing add task dialog
  src/components/AddTaskDialogue.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure error is show if required fields are not filled on AddTaskDialog
  src/components/AddTaskDialogue.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add validatioon errors to AddTaskDialog
  src/components/AddTaskDialogue.tsx
  src/components/Input.tsx
  src/components/TimeSelect.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: ensure errors are updated properly on AddTaskDialog
  src/components/AddTaskDialogue.tsx
Due: prettier --write, eslint --fix --max-warnings 0

perf: ensure inputs are uncontrolled on AddTaskDialog
  src/components/AddTaskDialogue.tsx
  src/components/Input.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add InputErrorMessage component
  src/components/Input.tsx
  src/components/InputErrorMessage.tsx
  src/components/TimeSelect.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: add design system
  src/components/AddTaskDialogue.tsx
  src/components/Button.tsx
  src/components/Input.tsx
  src/components/InputLabel.tsx
  src/components/Sidebar.tsx
  src/components/SidebarButton.tsx
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
  src/components/TasksSeparator.tsx
  src/components/TimeSelect.tsx
  src/index.css
Due: prettier --write, eslint --fix --max-warnings 0

chore: add tailwind-variants
  .prettierrc
  package-lock.json
  package.json
Due: none

refactor: add tailwind-variants to Button component
  src/components/AddTaskDialogue.tsx
  src/components/Button.tsx
  src/components/TaskItem.tsx
  src/components/Tasks.tsx
Due: prettier --write, eslint --fix --max-warnings 0

refactor: add tailwind-variants to SidebarButton component
  src/components/Sidebar.tsx
  src/components/SidebarButton.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add prop-type to Header component
  src/components/Header.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: ensure tasks are fetched from api
  db.json
  package-lock.json
  package.json
  src/components/Tasks.tsx
  src/constants/tasks.ts
Due: eslint, prettier --write, eslint --fix --max-warnings 0

chore: updated the TaskId component id to string, for better compatibility with UUID
  src/components/TaskItem.tsx
Due: prettier --write, eslint --fix --max-warnings 0
